{% if page.comments %}
<div id="disqus_thread"></div>

{% assign js_script_pre = "(function() {
        var d = document, s = d.createElement('script');
        s.src = '//" %}
{% assign js_script_post = ".disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();" %}

<script>{{ js_script_pre }}{{ site.shortname }}{{ js_script_post }}</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}